
.form-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    transition: transform 0.3s;
    text-align: start;

    label {
        display: block;
        font-size: 15px;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 8px;
        color: #0e0d0d; 
    }
    
    input {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        transition: border-color 0.3s, box-shadow 0.3s;
    }
    
    input:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    button.submit-btn {
        width: 100%;
        padding: 12px;
        background-color: rgb(22, 21, 21);
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    button.submit-btn:hover {
        background-color: #424547;
        transform: translateY(-2px); 
    }
}

h5 {
    /* text-align: center; */
    margin: 10px 0 30px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;

    font-size: 2rem;
    color: #333; 
}

.form-group {
    margin-bottom: 20px;
}



.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}
