.login-container {
    .login-heading {
        margin-bottom: 40px;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    label,button {
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    form input {
        border-radius: 5px;
        border: 1px solid rgb(160, 154, 154);
        width: 100%;
        font-size: medium;
    }

    .signup-redirect {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        a {
            text-decoration: none;
            color: blueviolet;
        }

        :hover {
            color: blue;
        }

    }
}