.login-container {
    .login-heading {
        margin-bottom: 40px;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    label,
    button {
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    form input {
        padding: 25px;
        font-size: large;
        font-family: "Roboto", sans-serif;
        width: 100%;
        margin-top: 0.25rem;
        border-radius: 6px;
        outline: none;
        border: 1px solid rgb(151, 146, 146);
        font-weight: 400;
        color: rgb(90, 86, 86);
    }

    .signup-redirect {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        a {
            text-decoration: none;
            color: blueviolet;
        }

        :hover {
            color: blue;
        }

    }
}