.signup-container {
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  label,
  button {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  h1 {
    margin-bottom: 40px;
  }

  label,
  button {
    font-family: 'Nunito', sans-serif;
    font-weight: 650;
    font-style: normal;
  }


  .signup-common {  

    width: 500px;
    height: 400px;
    transition: opacity 0.3s ease, transform 0.3s ease;

    input {
      padding: 25px;
      font-size: large;
      font-family: "Roboto", sans-serif;
      width: 100%;
      margin-top: 0.25rem;
      border-radius: 6px;
      outline: none;
      border: 1px solid rgb(151, 146, 146);
      font-weight: 450;
      color: rgb(90, 86, 86);
    }

    .error {
      border-color: red;
    }
  }

  .name {
    display: flex;
    gap: 10px;
  }

  .tran-in {
    opacity: 1;
    transform: translateX(0);
  }

  .tran-out {
    opacity: 0;
    transform: translateX(-5px);
  }

  .signup-common div {
    margin-bottom: 20px;
  }
}